.main-content {
    padding-top:30px;
    background:
}
.page-header {
    background:#262626;
    padding: 20px 0px 20px 0px;
    margin: 0 -15px 0px -15px;
    color:white;
}
body {
    background:#F1F1F1;
}
a, a:hover {
    color:#6441A5;
}